@primary: #11998e;
@secondary: #38ef7d;
@white: #fff;
@gray: #9b9b9b;
@button1: #a73f2d;
@button2: #7a2a1d;

body {
    margin: 0px;
    font-family: Assistant,sans-serif;
}

input[type=text], input[type=number]{
    font-family: inherit;
        width: 100%;
        border: 0;
        border-bottom: 2px solid @white;
        outline: 0;
        font-size: 1.3rem;
        color: @white;
        padding: 7px 0;
        background: transparent;
        transition: border-color 0.2s;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

::-webkit-input-placeholder { /* Edge */
  color: white;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
}

::placeholder {
  color: white;
}

button {
	box-shadow:inset 0px 34px 0px -15px #b54b3a;
	background-color: @button1;
	border: none;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:9px 23px;
	text-decoration:none;
	text-shadow:0px -1px 0px @button2;
}

button:hover {
	background-color:#b34332;
}

button:active {
    position:relative;
    outline: none;
}

button:focus {
    outline: none;
}

::-webkit-scrollbar {
    width: 15px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: rgb(85, 85, 85);
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgba(235, 230, 223, 0.6);
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: @white;
  }


  .slidecontainer {
    width: 100%; 
    text-align: center;
    margin-top: 10px;
  }
  
  .slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin: auto;
  }

  .right {
    float: right;
  }

  .left {
    float: left;
  } 
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #b54b3a;
    cursor: pointer; /* Cursor on hover */
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #b34332;
    cursor: pointer;
  }

  .selectcontainer {
    text-align: center;
    padding-bottom: 15px;
  }

  .select {
    width: 100%;
    background: #d3d3d3;
    height: 25px;
    outline: none;
    opacity: 0.7;
    transition: opacity 0.2s;
    font-size: large;
  }

  .select:hover {
    opacity: 1;
  }

  .select:focus {
    outline: none;
  }